@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat, sans-serif;
    color: grey;
}
.img .logo {
    width: 50px;
    height: 20px;
}

/* sidebar */
.sidebar {
    padding: 30px;
}
.sidebar p {
    margin-left: 20px;
}
.sidebar .dashboard {
    width: 190px;
}
.sidebar .nav {
    padding: 0 20px;
}
.sidebar .logo {
    margin-bottom: 30px;
}
.sidebar h3 {
    margin: 10px;
    margin-left: 0;
    font-weight: lighter;
    font-size: 14px;
}





/* second-side */
.second-side {
    background-color: rgba(0, 0, 0, 0.02);
}
.second-side {
    padding: 30px;
}
.second-side .main {
    height: 200px;
    background-image: url(images/Group\ 68.png);
    color: white;
    justify-content: space-between;
    padding: 100px;
    margin-top: 10px;
    text-align: left;
}
.second-side .main p {
    font-size: 14px;
}
.second-side .main-text h1 {
    margin: 10px 0 5px 0;
    padding: 30px 0 0 0;
}
.second-side span {
    background-color: rgba(0, 180, 225, 0.4);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-side .flex p {
    margin-left: 10px;
    font-size: larger;
    color: black;
}
.second-side .card-3 h2 {
    color: black;
    margin-top: 20px;
    font-weight: bolder;
}
.second-side .card-3 {
    padding: 20px;
}

.second-side .blank {
    border: 2px solid green;
    border-radius: 5px;
    margin-top: 15px;
}
.second-side .card-4 {
    background: url(images/Awards-bro\ 1.png);
    background-repeat: no-repeat;
    background-position: right 10% bottom 15%;
}
.second-side .card-5 {
    background: url(images/Group\ 420.png);
    background-repeat: no-repeat;
    background-position: right 10% bottom 15%;
}
.second-side .card-6 {
    background: url(images/Women\ day-amico\ 1.png);
    background-repeat: no-repeat;
    background-position: right 10% bottom 15%;
}
.second-side .pink {
    background-color: palevioletred;
    border-radius: 10px;
    padding: 10px;
    height: 180px;
}
.second-side .green {
    background-color: rgba(0, 0, 225, 0.3);
    border-radius: 10px;
    padding: 10px;
    height: 180px;
}
.second-side .white {
    background-color: rgba(128, 128, 128, 0.1);
    color: black;
    border-radius: 10px;
    padding: 10px;
    height: 180px;
}
.second-side .white h3 {
    color: palevioletred;
}
.second-side .flex-2 {
    display: flex;
    justify-content: flex-end;
}
.second-side .card-4 h3,
.second-side .card-4 p {
    line-height: normal;
}
.second-side .card-5 h3,
.second-side .card-5 p {
    line-height: normal;
}
.second-side .card-6 h3,
.second-side .card-6 p {
    line-height: normal;
}
.second-side .flex .card {
    padding: 10px;
}
.second-side .share {
    margin-top: 35px;
}
.second-side .card-4,
.second-side .card-5,
.second-side .card-6 {
    padding: 20px;
}
.second-side .card-6 .card {
    background-color: palevioletred;
    width: 90px;
    height: 35px;
    padding: 8px;
    padding-right: 18px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}
.second-side .card-6 .mx-2 {
    color: grey;
}
.second-side .card-3 {
    position: relative;
}
.second-side .content::after {
    content: '>';
    background-color: aliceblue;
    position: absolute;
    top: 42%;
    left: 90%;
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 25px;
}